<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" PublicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="1.0.0-11.0.2" newVersion="11.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>